<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

  <title><%= @app['name'] %></title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
  <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">

    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
      <![endif]-->
    </head>
    <body>
      <div id="fb-root"></div>
      <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="section1">
        <div class= "container">
          <header class="Absolute-Center">
            <div class="last-wrap center">
              <% if @user %>
              <h2 class="opener">Facial Profiler<h2> 
                <h2 class="">Welcome, <%= @user['name'].split(" ").first %>!</h2>
                <div class="row">
                  <%#face_check%>
                  <%# if @features.length > 15%>

                  <%#end%>
                  <div class="pic col-sm-6"><h3>Profile Picture</h3><img class="center" src="https://graph.facebook.com/<%= @user['id'] %>/picture?type=large" ></div>
                  <% else %>
                  <h2 class="opener">Facial Profiler</h2>
                  <div class="row">
                    <h3 id="tagline">Welcome! This is my PSYC 131 Outreach Project</h3>
                    <div class="col-xs-6 circular"></div>
                    <div class="col-sm-offset-2 col-xs-4"><p class="intro">My name is Kwabena Boateng and this is a Facebook app that analyzes your face.</p> 
                      <div class="fb-login-button" data-scope="<%= FACEBOOK_SCOPE %>">Log In</div>
                    </div>

                    <% end %>

                    <% if @user %>
                    <%face_check%>
                    <div class="results col-sm-6">
                     <h3>Expression Analysis</h3>
                     <% @features.each do |key, value| %>
                     <p> <span class="red"><%= key.capitalize %></span> : <%= value['value'].capitalize %> with a <%= value['confidence'] %>% confidence level. </p>

                     <% end %>
                   </div>
                   <% end %>
                 </div>
               </div>
             </div>
           </header>
         </div>

       </div>
       <div class="section2 ">
        <div class="container">
          <h2>Measuring Emotion</h2>

          <div class="row">
            <div class="col-xs-4">
              <h3>Human Emotion</h3>
              <p>
                We all experience a diverse array of emotions. These feelings are triggered by various stimuli and often times result in physiological changes in the body. There are 6 basic emotions: Anger, disgust, fear, happiness, sadness, & surprise. According to psychologist Paul Ekman, an emotion is brief, unbidden, cross-species, coherent, fast, and are appraised automatically. Psychologists attempt to develop a concrete understanding of emotions through experimentation and observation.  
              </p>
            </div>
            <div class="col-xs-4">
              <h3>Facial Expression Analysis</h3>
              <p>
                Emotions are measured subjectively, behaviorly, and physiologically. A behavioral measure of emotion deals with the Facial Action Coding System. Developed by Ekman & Friesen in the 1970s, FACS categorize facial behaviors based on muscles that produce them. These movements are measured in Action Units (AU). Modern research has been with computers and the automatic analysis of facial expressions. <p>The ability to use a computer to analyze a person's face and therefore their emotion, saves a great deal of time (FACS takes 80-100 hours to train) and provides a wealth of data to allow us to better interpret expression and emotion.</p>
              </p>
            </div>
            <div class="col-xs-4">
              <h3>About This App</h3>
              <p>
                This application uses the Facebook Open Graph API to capture a user's facebook profile picture. This picture is then used with the Skybiometry Facial Detection and Recognition API to detect faces and analyze facial expressions. 
              </p>
            </div>
          </div>

        </div>
      </div>

    </body>
    </html>